<div class="container-fluid text-center">
  <div class="row" style="margin-bottom: 60px">
    <app-navbar></app-navbar>
  </div>
  <div class="row content smart-top">
    <!-- <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div> -->
    <div class="col-sm-12 text-left">
      <label class="txt-header">Timesheet Management</label>
      <p>
        This part would help the user to check his payment. This module will
        calculate your working hours in day and night heads. Once you signin and
        signout your duration of work will be stored in database.
      </p>
      <hr />
      <div class="col-sm-12">
        <div class="row">
          <!-- summaryByHours -->
          <div class="col-sm-12" *ngIf="backendService.isAdminStaff">
            <div class="row">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Emp Id</th>
                    <th class="txt-center">Day</th>
                    <th class="txt-center">Ni</th>
                    <th class="txt-center">Total</th>
                  </tr>
                </thead>
                <!--  -->
                <tbody>
                  <tr *ngFor="let data of arrSummaryByHours">
                    <td>
                      {{ data.empId }}
                    </td>
                    <td class="txt-center">{{ data.dayHrs }}</td>
                    <td class="txt-center">{{ data.niHrs }}</td>
                    <td class="txt-center">{{ data.totalHrs }}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="txt-center">
                      <strong>{{ tDayHrs.toFixed(2) }}</strong>
                    </td>
                    <td class="txt-center">
                      <strong>{{ tNiHrs.toFixed(2) }}</strong>
                    </td>
                    <td class="txt-center">
                      <strong>{{ gTotal.toFixed(2) }}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-12" *ngIf="backendService.isEmp">
            <div class="row">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Clockin</th>
                    <th>Clockout</th>
                    <th class="txt-center">Day</th>
                    <th class="txt-center">Ni</th>
                    <th class="txt-center">Total</th>
                  </tr>
                </thead>
                <!--  -->
                <tbody>
                  <tr *ngFor="let data of arrDuty">
                    <td>
                      {{ data.clockin }}
                    </td>
                    <td>
                      {{ data.clockout }}
                    </td>
                    <td class="txt-center">
                      {{ (data.totalHrs - data.niHrs).toFixed(2) }}
                    </td>
                    <td class="txt-center">{{ data.niHrs.toFixed(2) }}</td>
                    <td class="txt-center">{{ data.totalHrs.toFixed(2) }}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="txt-center">
                      <strong>{{ tDayHrs.toFixed(2) }}</strong>
                    </td>
                    <td class="txt-center">
                      <strong>{{ tNiHrs.toFixed(2) }}</strong>
                    </td>
                    <td class="txt-center">
                      <strong>{{ gTotal.toFixed(2) }}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-12" *ngIf="backendService.isContractor">
            <div class="row">Do somethings for Contractor</div>
          </div>
        </div>
      </div>
      <p>Lorem ipsum...</p>
    </div>
    <!-- <div class="col-sm-4 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div> -->
  </div>
</div>
<div class="footer">
  <table width="100%">
    <tr>
      <td class="txt-left" style="padding-left: 20px">
        <img
          src="{{ imgPath + 'org/logo.png' }}"
          alt=""
          style="
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-top: -25px;
          "
        />
      </td>
      <td class="txt-right" style="padding-right: 20px">
        <span>Welcome&nbsp;{{ loginName }}</span
        >&nbsp;&nbsp;|&nbsp;&nbsp;<a (click)="logout()" style="color: #fff"
          >Logout</a
        >
      </td>
    </tr>
  </table>
</div>
<!-- <footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer> -->
