.full-width {
  width: 100%;
}
.padding-xs {
  padding: 2px;
}
.padding-sm {
  padding: 2px 5px 2px 5px;
}
.padding-md {
  padding: 4px 10px 4px 10px;
}
.padding-bg {
  padding: 8px 10px 8px 10px;
}
.padding-lg {
  padding: 15px;
}
.padding-xl {
  padding: 20px;
}

.margin-xs {
  margin: 2px;
}
.margin-sm {
  margin: 2px 5px 2px 5px;
}
.margin-md {
  margin: 4px 10px 4px 10px;
}
.margin-bg {
  margin: 8px 10px 8px 10px;
}
.margin-lg {
  margin: 15px;
}
.margin-xl {
  margin: 20px;
}
.space-null {
  padding: 0;
  margin: 0;
}
.space-sm {
  padding: 2px;
  margin: 2px;
}
.space-bg {
  padding: 5px;
  margin: 5px;
}
.space-lg {
  padding: 10px;
  margin: 10px;
}
// ============ Text Align ========================
.pull-center {
  text-align: center;
}
.pull-left {
  text-align: left;
}
.pull-right {
  text-align: right;
}
// ============ Text Size/Color ========================
.txt-xs {
  font-size: 9px;
}
.txt-sm {
  font-size: 12px;
}
.txt-md {
  font-size: 15px;
}
.txt-bg {
  font-size: 18px;
}
.txt-xl {
  font-size: 25px;
}
.txt-bold {
  font-weight: bold;
}
.txt-white {
  color: #fff;
}
.txt-offwhite {
  color: #888;
}
.txt-black {
  color: #000;
}
.txt-blue {
  color: blue;
}
.txt-brown {
  color: brown;
}

.cursorP {
  cursor: pointer;
}
// ================= Border ==========================
.border-light {
  border: thin solid #999;
}
// ====================== Background Color =============
.bg-white1 {
  background-color: #fff;
}
.bg-white2 {
  background-color: #eee;
}
.bg-white3 {
  background-color: #ddd;
}
.bg-white4 {
  background-color: #cccc;
}

.bg-black1 {
  background-color: #000;
}
.bg-black2 {
  background-color: #111;
}
.bg-black3 {
  background-color: #222;
}
.bg-black4 {
  background-color: #333;
}
.bg-green {
  background-color: rgb(85, 177, 85);
}
// ================ Class Active / Inactive ============================
.active {
  color: #fff;
}
.inactive {
  color: #999;
}
.nav-link {
  color: #999;
}
// =============== Customized DOM Element ==========
::ng-deep .mat-form-field {
  .mat-input-element {
    color: slategray;
  }
  .mat-form-field-label {
    color: slategray;
  }
  .mat-form-field-underline {
    background-color: slategray;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
  .mat-form-field-required-marker {
    color: slategray;
  }
}
