.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-file {
  border: thin solid gray;
  color: gray;
  background-color: white;
  /* padding: 4px 10px; */
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  /* font-size: 100px; */
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
