<div class="col-sm-12 padding-xl">
  <div class="row">
    <div class="col-sm-8 mx-auto">
      Order Safely On The KFC App, Website or Drive-Thru. Or Get Home-Delivery!
      Social Distancing Does Not Mean Going Without KFC. Types: Burgers,
      Original Recipe Chicken, Family Meals, Chips, Twisters, Chicken Nuggets
    </div>
  </div>

  <!-- Ser,UserType,UserId,Password,UserName,OrgName,OrgEmail,CreateDate,SecStr,OrgId -->
  <div class="row mt-4">
    <div class="col-sm-8 mx-auto">
      <form #m="ngForm" (ngSubmit)="register_org(m.value)" autocomplete="off">
        <div class="row mx-auto" style="margin-top: -15px">
          <div class="col-sm-6">
            <div class="row form-group text-left padding-sm">
              <label for="UserName" class="m-1">User Name</label>
              <input
                type="text"
                class="form-control input-sm"
                id="UserName"
                name="UserName"
                [(ngModel)]="UserName"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row form-group text-left padding-sm">
              <label for="OrgEmail" class="m-1">Org Email</label>
              <input
                type="text"
                class="form-control input-sm"
                id="OrgEmail"
                name="OrgEmail"
                [(ngModel)]="OrgEmail"
              />
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col-sm-6">
            <div class="row form-group text-left padding-sm">
              <label for="UserType" class="m-1">Client Type</label>
              <select
                id="UserType"
                name="UserType"
                [(ngModel)]="UserType"
                class="form-control input-sm mt-0"
                #mySelect
                (change)="onOptionsSelected(mySelect.value)"
              >
                <option *ngFor="let data of arrUserType" [value]="data.Value">
                  {{ data.Caption }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row form-group text-left padding-sm">
              <label for="OrgName" class="m-1">Org | Business Name</label>
              <input
                type="text"
                class="form-control input-sm"
                id="OrgName"
                name="OrgName"
                [(ngModel)]="OrgName"
                #inputChange
                (keyup)="oninputChange(inputChange.value)"
              />
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row mx-auto">
          <div class="col-sm-6">
            <div class="row form-group text-left padding-sm">
              <label for="domain" class="m-1">Domain Address</label>
              <input
                type="text"
                class="form-control input-sm"
                id="domain"
                name="domain"
                [(ngModel)]="domain"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row form-group text-left padding-sm">
              <label for="UserType" class="m-1">Slug | Unique String</label>
              <input
                readonly
                type="text"
                class="form-control input-sm"
                id="slug"
                name="slug"
                [(ngModel)]="slug"
              />
            </div>
          </div>
        </div>
        <div>
          <input
            type="hidden"
            id="Ser"
            name="Ser"
            [(ngModel)]="Ser"
            class="form-control input-sm"
          />
        </div>
        <div class="row mx-auto mt-1">
          <button class="btn btn-block btn-dark" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
